<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Title }} | {{ site.Title }}</title>
    <link rel="icon" href="/favicon.ico" />
    {{ $css := resources.Get "index.css" | minify }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
    {{ $js := resources.Get "index.js" | minify }}
    <script src="{{ $js.RelPermalink }}"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div id="logo-row">
          <img id="logo" src="/images/logo2x.png" width="246" height="80" />
        </div>
        <nav id="nav-row">
          <ul>
            {{ range site.Menus.main }}
            <li>
              <a
                href="{{ .URL }}"
                class='{{ if ($.Page.IsMenuCurrent "main" .) }}active{{ end }}'
                >{{ .Name }}</a
              >
            </li>
            {{ end }}
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="container">
        <div>{{ .Content }}</div>
      </div>
    </main>
    <aside>
      <div class="container">
        <ul id="partner-carousel" is="afoep-carousel">
          {{ range site.Data.partners.partners }}
          <li>
            <a href="{{ .url }}">
              <img src="{{ .image }}" alt="{{ .name }}" />
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
    </aside>
    <footer>
      <div class="container">
        <nav>
          <span>{{ site.Params.address }}</span>
        </nav>
      </div>
    </footer>
  </body>
</html>
