@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family:
    Work Sans,
    Arial,
    Helvetica,
    sans-serif;
}

body {
  margin: 0;
}

header {
  margin-inline: auto;
  margin-block: 0;

  & #logo-row {
    padding-block: 50px 0px;
    margin-block: 0px 30px;
    margin-left: 5px;
  }

  & #nav-row ul {
    padding-inline-start: 0;
    margin-bottom: 11px;
    margin-inline: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 38px;

    & li > a {
      transition: all 0.2s;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1px;
      padding-block: 12px;
      color: #005585;
      text-decoration: none;

      &:hover,
      &.active {
        color: #a3c5d9;
      }

      position: relative;

      &.active::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -4px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 4px 7px 4px;
        border-color: transparent transparent #006cab transparent;
      }
    }
  }

  border-bottom: #006cab 1px solid;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0;
}

main {
  padding-top: 40.5px;
  padding-bottom: 50px;
  background-color: #f4f4f4;

  & > .container > * {
    padding-inline: 20px;
  }

  & p,
  & ul {
    font-size: 15px;
    font-weight: 400;
    color: #333333;
    text-align: justify;
    line-height: 30px;
    margin-block: 20px;
  }

  & h1 {
    font-size: 34px;
    margin-bottom: 70.5px;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5 {
    margin-top: 0;
    font-weight: normal;
    color: #005585;
  }
}

aside {
  margin-block: 50px;
}

footer {
  color: #999999;
  margin-block: 25px;

  nav {
    padding-inline: 20px;
  }
}

[is="afoep-carousel"] {
  list-style: none;
  display: flex;
  padding-inline-start: 0;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  margin: 20px;
  align-items: center;
  justify-items: sp;

  & > * {
    padding-inline: 25px;
    scroll-snap-align: start;
    flex: 0 0 33.33%;

    & img {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
  .container {
    width: 960px;
  }
  [is="afoep-carousel"] > * {
    flex: 0 0 25%;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  [is="afoep-carousel"] > * {
    flex: 0 0 20%;
  }
}

/* Team grid settings */

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: left;
  margin: 40px 0;
}

.team .member {
  width: 250px;
  text-align: center;
}

.team .member-photo {
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto 15px;
  border-radius: 0px;
}

.team .member-photo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team .member h3 {
  margin: 0 0 8px;
}

.team .member p {
  margin: 0;
  text-align: center;
}
